# Byte-compiled
__pycache__/
*.py[cod]

# Unit test / coverage reports
.pytest_cache/

# Environments
.venv

# IntelliJ project files
.idea/

.vscode/

*.png
*.pth
*.pkl
*.bin
*.model

results/tiktok/metrics/*.csv
results/twitter/metrics/*.csv

notebooks/tiktok/010_test.ipynb
notebooks/twitter/010_test.ipynb
