# Byte-compiled
__pycache__/
*.py[cod]

# Unit test / coverage reports
.pytest_cache/

# Environments
.venv

# IntelliJ project files
.idea/

.vscode/

# Archivos recolectados fusionados
data/raw/scraped_merged/

*.csv
*.png
*.pth
*.pkl
*.bin
*.model