# Byte-compiled
__pycache__/
*.py[cod]

# Unit test / coverage reports
.pytest_cache/

# Environments
.venv

# IntelliJ project files
.idea/

.vscode/


notebooks/tiktok/010_test.ipynb
notebooks/twitter/010_test.ipynb
